# dependencies
*node_modules*


# ide
*.idea*
*.vscode*
.DS_Store


# log
**/npm-debug.log

# target
**dist**
src/**/*.js.map
src/**/*.js

# others
example/mock
example/nei*
example/src/main/webapp/backend/
example/**/*.css
hash.json