.config{
	width:11px;
}
body{
	margin:100px;
	background:#f00;
	padding:10px;
	color:#fff;
	display:-webkit-box;
	display:flex;
}
.config{
	width:60px;
}
body{
	margin:2px;
	background:#00f;
	padding:10px;
	color:#fff;
	display:-webkit-box;
	display:flex;
}