
	<div class="hd">
		<div class="weui_cells weui_cells_access">
			<%fileList.forEach((file)=>{%>
				<a class="weui_cell" href="<%= file.requestPath%>?mode=1">
            <div class="weui_cell_bd weui_cell_primary">
                <p><i class="<%= (file.isFile)?'weui_icon_info_circle':'weui_icon_info'%>"></i><span style="margin-left: 10px;"><%= file.name%></span></p>
            </div>
            <div class="weui_cell_ft"><%= (file.isFile)?'文件':'目录'%></div>
        </a>
			<%})%>
  	</div>
	</div>
