<div class="container" id="container">
	<div class="cell">
		<div class="hd">
		    <h1 class="page_title">Foxman</h1>
				<p class="page_desc">为注重开发体验的前端开发者量身定制</p>
		</div>
		<div class="hd">
			<div class="weui_cells weui_cells_access">
				<%fileList.forEach((file)=>{%>
					<a class="weui_cell" href="<%= file.url%>">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p><i class="<%= (file.isFile)?'weui_icon_info_circle':'weui_icon_info'%>"></i><span style="margin-left: 10px;"><%= file.name%></span></p>
	            </div>
	            <div class="weui_cell_ft"><%= (file.isFile)?'文件':'目录'%></div>
	        </a>
				<%})%>
    	</div>
		</div>
	</div>
	<div class="m-tabbar">
		<div class="tabbar-inner">
			<a href="javascript:history.back(-1)" class="u-back">  </a>
	      <div class="u-nav">
					<p class="u-navitem">
						Foxman
					</p>
	      </div>
	  </div>
	</div>
</div>
