<!DOCTYPE html>
<html>
  <head>
    <title><%-title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/foxman_client/css/weui.min.css" charset="utf-8">
    <link rel="stylesheet" href="/foxman_client/css/index.css" charset="utf-8">
  </head>
  <body>
    <div class="container" id="container">
    	<div class="cell">
        <%-body%>
        <div class="m-tabbar">
          <div class="tabbar-inner">
            <a href="javascript: history.back()" class="u-back">  </a>
              <div class="u-nav">
                <p class="u-navitem">
                  Foxman
                </p>
              </div>
          </div>
        </div></div>
    </div>
  </body>
</html>
