.config{
	width:11px;
}
body{
	margin:100px;
	background:#f00;
	padding:10px;
	color:#fff;
	display:-webkit-box;
	display:flex;
}
.cfg3{
	background:#f00;
}
.config{
	width:221px;
}
body{
	margin:2px;
	padding:10px;
	color:#fff;
	display:-webkit-box;
	display:flex;
}