.config2{
	width:1px;
	display:-webkit-box;
	display:flex;
}
.config{
	width:60px;
}
body{
	margin:0px;
	background:#00f;
	padding:50px;
	color:#fff;
	display:-webkit-box;
	display:flex;
}
.a{
	width:1px;
	background:#f00;
}
.b{
	display:-webkit-box;
	display:flex;
}